<head>
  <h1 style="color:rgba(154, 231, 65, 0.774);">Register Here</h1>
</head>
<br>
<body>
    <h4 style="color:rgba(154, 231, 65, 0.774);">Sign Up</h4>
    <br>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username(size=32,placeholder="username") }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.email(size=32,placeholder="email") }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password(size=32,placeholder="password") }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2(size=32,placeholder="re-enter password") }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
        <a href="{{url_for('login')}}">Back to Login Page</a>
        {% if sub %}
        <p>Registered successfully!</p>
        {% endif %}
    </form>
</body>
